{% extends 'base.html.twig' %}

{% block body %}
    {% for serie in tabDeSeries %}
        <article>
            <a href="{{ path('serie_serie', {'serie': serie.id}) }}">
                <img
                        src="{{ asset('img/series/'~serie.image) }}"
                        alt="{{ serie.nom }}"
                        title="{{ serie.saisons | length }} saison{{ serie.saisons | length > 1 ? 's' : '' }}"


                >

            </a>
        </article>
        {% else %}
            <p>Aucune série en base de données</p>
    {% endfor %}
{% endblock %}
